@model IEnumerable<DiceGame.Models.User>
@{
    ViewBag.Title = "Home Page";
}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script src="Script/js.js"></script>
    <link href="Content/css.css" rel="stylesheet">*@
    <style>
        .red{
            color : red;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }
        

    </style>
    <script>

    </script>


    <br />

@{Html.RenderPartial("slider");
}
<!--********************************************************************************************************************************************-->

    <br />

    <div class="jumbotron row ">
        @{
            var user = (string)Session["username"];
            @Html.Display(user);
        }  

        <div class="col-md-4 text-center">
           @foreach (var item in Model.ToList())
           {
               string us = (string)Session["username"];

               if (item.UserName == @us)
               {
                @Html.DisplayFor(m => item.FirstName);<br />
                @Html.DisplayFor(m => item.LastName);<br />
                @Html.DisplayFor(m => item.Email);<br />
                @Html.DisplayFor(m => item.RateMean);<br />
               }
           }

        </div>
        <div class="col-md-4 text-center">
            @foreach (var item in Model.ToList())
            {
                string us = (string)Session["username"];

                if (item.UserName == @us)
                {
                    <img src=@item.Picture alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
                }
            }

        </div>
        @foreach (var item in Model.ToList())
        {
             string us = (string)Session["username"];

            if (item.UserName == @us)
            {
                
            }
        }
        @*<div class="col-md-4 text-center" >
            <a href='@Url.Action("Index", "Home")' class="fa fa-star-o" style="font-size:48px;"></a>
            
        </div>
        <div class="col-md-4 text-center" >
            <a href='@Url.Action("Index", "Home")' class="fa fa-puzzle-piece" style="font-size:48px;"></a>
            <p>my Score</p>
        </div>
        <div class="col-md-4 text-center">
            <a href='@Url.Action("Index", "Home")' class="fa fa-user-plus" style="font-size:48px;"></a>
            <p>my Score</p>
        </div>*@

    </div>
<!--********************************************************************************************************************************************-->
           
           

  <div class="jumbotron">
    <p>Online Users</p>
    <div class="row">
        @foreach (var item in Model.ToList())
        {
            var usr = (string)Session["username"];
            IList<string> friends = Model.Where(m => m.UserName == usr).FirstOrDefault().Friends;
            if (item.UserName == (string)Session["username"])
            {

            }
            else
            {
                <div class="card col-sm-3">
                    @{if (friends != null )
                    {
                        var flag = 0;
                        foreach (var f in friends)
                        {
                            if (item.UserName == f)
                            {
                                flag = 1;
                                break;
                            }
                        }

                        if (flag == 0)
                        {

                                @Html.DisplayFor(m => item.UserName);<br />
                                @Html.Label("online");<br />
                                
                            <input type="button" value="accept" onclick="location.href='@Url.Action("invite", "Home")?id=' + @item.Id" /><br />
                            }
                            else
                            {
                                @Html.DisplayFor(m => item.UserName, new { @class = "red" });<br />
                                @Html.Label("online");<br />
                            }

                        }
                        else
                        {
                            @Html.DisplayFor(m => item.UserName);<br />
                            @Html.Label("online");<br />
                           <input type="button" value="invite" onclick="location.href='@Url.Action("invite", "Home")?id=' + @item.Id" /><br />
                        }

                    }

                </div>
              }

                        }

    </div>

</div>




